code
.vscode
__pycache__
*.tar.gz
coderunner-tools/target
.venv

coderunner-web/bin
coderunner-web/obj
coderunner_tools/coderunner-build/target
runner/lib/main.build
runner/lib/main.dist
runner/lib/main.onefile-build
web/bin
output