@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coderunner Documentation</title>
</head>
<body>
    <h1>Welcome to Coderunner Documentation</h1>
    <p>Coderunner lets you unleash your coding power within the world of Resonite! This documentation will guide you through everything you need to know to create and run code using Coderunner.</p>

    <h2>Getting Started</h2>
    <ul>
        <li><a href="getting-started/installation">Installation</a>: Learn how to set up Coderunner within Resonite.</li>
        <li><a href="getting-started/writing-your-first-code">Writing Your First Code</a>: Create a simple program and see it run in-game.</li>
    </ul>

    <h2>Supported Languages</h2>
    <p>Currently, Coderunner supports the following programming languages:</p>
    <ul>
        <li>Python</li>
        <li>JavaScript</li>
        <li>Lua</li>
        <li>C#</li>
        <li>c++</li>
        <li>bash</li>
    </ul>

    <h2>Documentation</h2>
    <p>Explore more detailed information about using Coderunner's features and functionalities:</p>
    <ul>
        <li><a href="language-reference/python">Python Reference</a>: Learn about the specific functions and libraries available for Python in Coderunner.</li>
        <li><a href="language-reference/javascript">JavaScript Reference</a>: Discover the functionalities of JavaScript within the context of Coderunner.</li>
        <li><a href="language-reference/lua">Lua Reference</a>: Explore Lua's capabilities for in-game scripting with Coderunner.</li>
        <li><a href="advanced-topics">Advanced Topics</a>: Dive deeper into concepts like debugging and interacting with the game world.</li>
    </ul>

    <h2>Community</h2>
    <p>Get help and share your creations with the Coderunner community!</p>
    <ul>
        <li>Join the official Coderunner discord: https://steamcommunity.com/app/2519830/discussions/</li>
    </ul>

    <p>We hope this documentation empowers you to unlock the potential of Coderunner and become a master coder within Resonite!</p>
</body>
</html>
