@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Our privacy policy is simple: we don't collect any personal information about you. We don't use cookies, we don't track your browsing history, and we don't store any data about you on our servers. We respect your privacy and believe that you should have control over your own data.</p>
<p> i mean, this site is hosted localy and within a docker container so i don't even have the ability to track you even if i wanted to</p>