@page
@model Pages.language_reference.PythonModel
@{
    ViewData["Title"] = "Python";
}
<h1>Welcome to the Python Page</h1>

<!DOCTYPE html>
<html>
<head>
    <title>Cat Page</title>
</head>
<body>
    <h1>Welcome to the Cat Page</h1>
</body>
</html>
